<mat-card class=" card mat-elevation-z8">
    <mat-card-header>     
      <mat-card-title>Help Desk</mat-card-title>
      <mat-card-subtitle>Discas de Um Dev</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/suporte-tecnico.jpg" alt="suporte-tecnico">
    <mat-card-content>
      <p>
        Olá! Seja bem vindo ao sistema Help Desk desenvolvimento por mim no curso Desenvolvimento Full Stack.<br>
        Esse é um sistema para gerenciamento de chamados simulando um simples Help Desk Real.
        <br/> At.te: Clayton de Sousa Santos
      </p>
    </mat-card-content>
    
  </mat-card>
  
